* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: blueviolet;
  color: lightgreen;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  background-color: aqua;
  color: red;
  text-align: center;
  font-size: 2rem;
}