* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  color: #EC8F5E;
  text-align: center;
  font-size: 2.5rem;
}

.recipe-img {
  width: 600px;
  height: auto;
  margin: 20px auto;
}

a {
  color: #9FBB73;
  font-weight: bold;
  font-size: 1.5rem;
}